<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>

    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          rel="stylesheet">

</head>
<body>

<div class="container my-2">
    <h1>Student List</h1>

    <a class="btn btn-primary btn-sm mb-3" th:href="@{/student/save}"> Add Student </a>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Name</th>
            <th>SurName</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.phone}"></td>
            <td th:text="${student.email}"></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>